In [1]:
import pandas as pd
dt = pd.read_csv('AirbnbCompleteNew.csv')
dt.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,conAnd,host_gender,host_lastL
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,False,0,n
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,False,0,r
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,False,0,h
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,False,0,e
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,False,0,a

In [2]:
dt[dt.host_gender != 'GR' ].loc[1:5,['host_name', 'host_lastL', 'host_gender','host_name_len','host_name_bin']]

C:\Users\vsady\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

     host_name host_lastL host_gender  host_name_len  host_name_bin
1     Jennifer          r           0            NaN            NaN
2    Elisabeth          h           0            NaN            NaN
3  LisaRoxanne          e           0            NaN            NaN
4        Laura          a           0            NaN            NaN
5        Chris          s           0            NaN            NaN

In [3]:
def countLength(string):
    return len(str(string))
dt['host_name_len'] = dt[dt.host_gender != 'GR' ].host_name.apply(countLength)

In [4]:
dt['host_name_bin'] = pd.cut(dt['host_name_len'],4)

dt['host_gender'].value_counts()

0     47113
GR     1782
Name: host_gender, dtype: int64

In [5]:
dt.groupby(by="host_name_len").size()

host_name_len
1.0       217
2.0       515
3.0      3544
4.0      8582
5.0     10970
6.0      9420
7.0      6767
8.0      3094
9.0      1781
10.0      682
11.0      272
12.0      538
13.0      123
14.0      153
15.0       70
16.0       65
17.0      129
18.0       31
19.0       42
20.0       51
21.0        5
22.0        7
23.0        4
24.0       16
25.0       22
28.0        2
29.0        1
30.0        5
32.0        2
35.0        3
dtype: int64

In [6]:
dt[dt.host_name_len == 17].loc[1:,['host_name']]

               host_name
1476   Sean - Hygge Stay
2199   East Village Loft
5035   Veronique Camille
5038   Veronique Camille
5039   Veronique Camille
5050   Veronique Camille
5618   Jae (Owen's Wife)
5835   Solange Et Michel
7383   Veronique Camille
9000   Jae (Owen's Wife)
14682  Corporate Housing
14692  Corporate Housing
14700  Corporate Housing
14702  Corporate Housing
14703  Corporate Housing
14732  Corporate Housing
14733  Corporate Housing
14735  Corporate Housing
14737  Corporate Housing
14740  Corporate Housing
14761  Corporate Housing
14767  Corporate Housing
14781  Corporate Housing
14789  Corporate Housing
14801  Corporate Housing
14803  Corporate Housing
14822  Corporate Housing
14823  Corporate Housing
14824  Corporate Housing
14833  Corporate Housing
...                  ...
35076  Corporate Housing
36662  Corporate Housing
36663  Corporate Housing
37091  Corporate Housing
38296  Corporate Housing
40500  New York Italians
41793  New York Italians
42465  Veronica Gallardo
42572  Corporate Housing
43013  Corporate Housing
43043  Corporate Housing
43580  Corporate Housing
44320  Corporate Housing
44996  The Knickerbocker
44997  The Knickerbocker
44998  The Knickerbocker
44999  The Knickerbocker
45000  The Knickerbocker
45001  The Knickerbocker
45002  The Knickerbocker
45003  The Knickerbocker
45004  The Knickerbocker
45005  The Knickerbocker
45006  The Knickerbocker
45007  The Knickerbocker
45008  The Knickerbocker
46310  Corporate Housing
48648  Giorgio Residence
48687  Giorgio Residence
48696  Giorgio Residence

[129 rows x 1 columns]

In [7]:
def cntSplitString(string):
    return len(str(string).split())
dt['host_name_multstr'] = dt.host_name.apply(cntSplitString)

In [8]:
dt[dt.host_gender != 'GR' ].loc[1:5,['host_name', 'host_lastL', 'host_gender','host_name_len','host_name_bin', 'host_name_multstr']]

,host_name,host_lastL,host_gender,host_name_len,host_name_bin,host_name_multstr
1,Jennifer,r,0,8.0,"(0.966, 9.5]",1
2,Elisabeth,h,0,9.0,"(0.966, 9.5]",1
3,LisaRoxanne,e,0,11.0,"(9.5, 18.0]",1
4,Laura,a,0,5.0,"(0.966, 9.5]",1
5,Chris,s,0,5.0,"(0.966, 9.5]",1

In [9]:
dt.groupby(by="host_name_multstr").size()

host_name_multstr
1    45345
2     1567
3     1842
4      110
5       23
6        8
dtype: int64

In [10]:
dt[(dt.host_name_multstr == 1) & (dt.host_name_len < 10) & (dt.host_gender != 'GR')]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,conAnd,host_gender,host_lastL,host_name_len,host_name_bin,host_name_multstr
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,...,2018-10-19,0.21,6,365,False,0,n,4.0,"(0.966, 9.5]",1
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,...,2019-05-21,0.38,2,355,False,0,r,8.0,"(0.966, 9.5]",1
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,...,NaN,NaN,1,365,False,0,h,9.0,"(0.966, 9.5]",1
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,...,2018-11-19,0.10,1,0,False,0,a,5.0,"(0.966, 9.5]",1
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,...,2019-06-22,0.59,1,129,False,0,s,5.0,"(0.966, 9.5]",1
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,...,2017-10-05,0.40,1,0,False,0,n,5.0,"(0.966, 9.5]",1
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,...,2019-06-24,3.47,1,220,False,0,i,8.0,"(0.966, 9.5]",1
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,...,2017-07-21,0.99,1,0,False,0,n,9.0,"(0.966, 9.5]",1
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,...,2019-06-09,1.33,4,188,False,0,n,3.0,"(0.966, 9.5]",1
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,...,2019-06-22,0.43,1,6,False,0,a,4.0,"(0.966, 9.5]",1
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,...,2019-06-23,1.50,1,39,False,0,e,4.0,"(0.966, 9.5]",1
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,...,2019-06-24,1.34,3,314,False,0,e,6.0,"(0.966, 9.5]",1
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,...,2019-07-05,0.91,1,333,False,0,o,7.0,"(0.966, 9.5]",1
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,...,2018-10-31,0.22,1,0,False,0,a,5.0,"(0.966, 9.5]",1
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,...,2019-06-28,1.72,1,321,False,0,e,4.0,"(0.966, 9.5]",1
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,...,2019-07-01,2.12,1,12,False,0,i,4.0,"(0.966, 9.5]",1
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,...,NaN,NaN,2,249,False,0,g,4.0,"(0.966, 9.5]",1
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,...,2011-12-28,0.07,1,0,False,0,a,5.0,"(0.966, 9.5]",1
21,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,22486,Lisel,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,...,2019-07-01,1.09,6,347,False,0,l,5.0,"(0.966, 9.5]",1
22,8025,CBG Helps Haiti Room#2.5,22486,Lisel,Brooklyn,Park Slope,40.67989,-73.97798,Private room,80,...,2019-01-01,0.37,6,364,False,0,l,5.0,"(0.966, 9.5]",1
23,8110,CBG Helps Haiti Rm #2,22486,Lisel,Brooklyn,Park Slope,40.68001,-73.97865,Private room,110,...,2019-07-02,0.61,6,304,False,0,l,5.0,"(0.966, 9.5]",1
24,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,...,2019-06-19,0.73,2,233,False,0,e,8.0,"(0.966, 9.5]",1
25,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,60,...,2019-06-23,1.37,2,85,False,0,y,7.0,"(0.966, 9.5]",1
27,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,...,2017-08-13,0.49,1,75,False,0,i,5.0,"(0.966, 9.5]",1
28,9518,"SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM",31374,Shon,Manhattan,Inwood,40.86482,-73.92106,Private room,44,...,2019-06-15,1.11,3,311,False,0,n,4.0,"(0.966, 9.5]",1
29,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,180,...,2019-04-19,0.24,1,67,False,0,a,4.0,"(0.966, 9.5]",1
31,9704,Spacious 1 bedroom in luxe building,32045,Teri,Manhattan,Harlem,40.81305,-73.95466,Private room,52,...,2019-06-14,1.42,1,255,False,0,i,4.0,"(0.966, 9.5]",1
32,9782,Loft in Williamsburg Area w/ Roof,32169,Andrea,Brooklyn,Greenpoint,40.72219,-73.93762,Private room,55,...,2019-06-15,1.65,3,284,False,0,a,6.0,"(0.966, 9.5]",1
34,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,...,2019-05-12,0.66,2,269,False,0,a,6.0,"(0.966, 9.5]",1
35,10962,"Lovely room 2 & garden; Best area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,89,...,2019-06-21,1.41,3,340,False,0,e,6.0,"(0.966, 9.5]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48860,36468386,纽约罗岛Roosevelt Island整租或合租 窗外美景 设施全 家具新 到曼哈顿方便 ...,228268650,Yan,Manhattan,Roosevelt Island,40.76688,-73.94688,Entire home/apt,145,...,NaN,NaN,1,30,False,0,n,3.0,"(0.966, 9.5]",1
48861,36468409,One bedroom Manhattan Upper East Side Apartment,57502664,Omar,Manhattan,Upper East Side,40.76628,-73.95795,Entire home/apt,120,...,NaN,NaN,1,1,False,0,r,4.0,"(0.966, 9.5]",1
48862,36468880,Private room in a nice Brooklyn apartment,274195458,Abayomi,Brooklyn,Bushwick,40.69308,-73.91025,Private room,130,...,NaN,NaN,1,83,False,0,i,7.0,"(0.966, 9.5]",1
48863,36469741,Comfortable & Big room with 2 beds!,274012871,Stefan,Queens,Long Island City,40.76726,-73.93936,Private room,93,...,NaN,NaN,2,14,False,0,n,6.0,"(0.966, 9.5]",1
48864,36471896,Private Bedroom & PRIVATE BATHROOM in Manhattan,23548340,Sarah,Manhattan,Upper East Side,40.77192,-73.95369,Private room,95,...,NaN,NaN,1,2,False,0,h,5.0,"(0.966, 9.5]",1
48865,36472171,1 bedroom in sunlit apartment,99144947,Brenda,Manhattan,Inwood,40.86845,-73.92449,Private room,80,...,NaN,NaN,1,79,False,0,a,6.0,"(0.966, 9.5]",1
48866,36472710,CozyHideAway Suite,274225617,Alberth,Queens,Briarwood,40.70786,-73.81448,Entire home/apt,58,...,NaN,NaN,1,159,False,0,h,7.0,"(0.966, 9.5]",1
48867,36473044,The place you were dreaming for.(only for guys),261338177,Diana,Brooklyn,Gravesend,40.59080,-73.97116,Shared room,25,...,NaN,NaN,6,338,False,0,a,5.0,"(0.966, 9.5]",1
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,...,NaN,NaN,6,365,False,0,a,5.0,"(0.966, 9.5]",1
48869,36474023,"Cozy, Sunny Brooklyn Escape",1550580,Julia,Brooklyn,Bedford-Stuyvesant,40.68759,-73.95705,Private room,45,...,NaN,NaN,1,7,False,0,a,5.0,"(0.966, 9.5]",1
48870,36474911,"Cozy, clean Williamsburg 1- bedroom apartment",1273444,Tanja,Brooklyn,Williamsburg,40.71197,-73.94946,Entire home/apt,99,...,NaN,NaN,1,22,False,0,a,5.0,"(0.966, 9.5]",1
48872,36476675,Nycity-MyHome,8636072,Ben,Manhattan,Hell's Kitchen,40.76236,-73.99255,Entire home/apt,260,...,NaN,NaN,1,9,False,0,n,3.0,"(0.966, 9.5]",1
48874,36477588,Short Term Rental in East Harlem,214535893,Jeffrey,Manhattan,East Harlem,40.79760,-73.93947,Private room,50,...,NaN,NaN,1,22,False,0,y,7.0,"(0.966, 9.5]",1
48875,36478343,Welcome all as family,274273284,Anastasia,Manhattan,East Harlem,40.78749,-73.94749,Private room,140,...,NaN,NaN,1,180,False,0,a,9.0,"(0.966, 9.5]",1
48876,36478357,"Cozy, Air-Conditioned Private Bedroom in Harlem",177932088,Joseph,Manhattan,Harlem,40.80953,-73.95410,Private room,60,...,NaN,NaN,1,26,False,0,h,6.0,"(0.966, 9.5]",1
48877,36479230,Studio sized room with beautiful light,65767720,Melanie,Brooklyn,Bushwick,40.70418,-73.91471,Private room,42,...,NaN,NaN,1,16,False,0,e,7.0,"(0.966, 9.5]",1
48879,36480292,Gorgeous 1.5 Bdr with a private yard- Williams...,540335,Lee,Brooklyn,Williamsburg,40.71728,-73.94394,Entire home/apt,120,...,NaN,NaN,1,22,False,0,e,3.0,"(0.966, 9.5]",1
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,...,NaN,NaN,3,365,False,0,i,5.0,"(0.966, 9.5]",1
48881,36481615,"Peaceful space in Greenpoint, BK",274298453,Adrien,Brooklyn,Greenpoint,40.72585,-73.94001,Private room,54,...,NaN,NaN,1,15,False,0,n,6.0,"(0.966, 9.5]",1
48882,36482231,Bushwick _ Myrtle-Wyckoff,66058896,Luisa,Brooklyn,Bushwick,40.69652,-73.91079,Private room,40,...,NaN,NaN,1,31,False,0,a,5.0,"(0.966, 9.5]",1
48883,36482416,Sunny Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79755,-73.93614,Private room,75,...,NaN,NaN,2,364,False,0,l,7.0,"(0.966, 9.5]",1
48884,36482783,Brooklyn Oasis in the heart of Williamsburg,274307600,Jonathan,Brooklyn,Williamsburg,40.71790,-73.96238,Private room,190,...,NaN,NaN,1,341,False,0,n,8.0,"(0.966, 9.5]",1
48885,36482809,Stunning Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79633,-73.93605,Private room,75,...,NaN,NaN,2,353,False,0,l,7.0,"(0.966, 9.5]",1
48886,36483010,Comfy 1 Bedroom in Midtown East,274311461,Scott,Manhattan,Midtown,40.75561,-73.96723,Entire home/apt,200,...,NaN,NaN,1,176,False,0,t,5.0,"(0.966, 9.5]",1
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,...,NaN,NaN,3,365,False,0,i,5.0,"(0.966, 9.5]",1
48888,36484087,"Spacious Room w/ Private Rooftop, Central loca...",274321313,Kat,Manhattan,Hell's Kitchen,40.76392,-73.99183,Private room,125,...,NaN,NaN,1,31,False,0,t,3.0,"(0.966, 9.5]",1
48889,36484363,QUIT PRIVATE HOUSE,107716952,Michael,Queens,Jamaica,40.69137,-73.80844,Private room,65,...,NaN,NaN,2,163,False,0,l,7.0,"(0.966, 9.5]",1
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,...,NaN,NaN,2,9,False,0,a,7.0,"(0.966, 9.5]",1
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,...,NaN,NaN,2,36,False,0,l,7.0,"(0.966, 9.5]",1
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,...,NaN,NaN,6,2,False,0,z,3.0,"(0.966, 9.5]",1

In [11]:
def featureExtractor(wordList):
    #contains the output multidimensional array which contains all the pArrays
    oArray = []
    #contains the features per processed word
   
    
    fDict = {}
    #the extracted features are: word legth, count by characters, count by multi char,
    
    
    
    for word in wordList:
        pArray = []
        word = str(word)
        pArray.append(len(word)) # 1. word lenght
        
        
    
        for ch in word:
            pArray.append(ch) #2. append each character to array

        
        chcnt = 1 #character counter
        for ch in word:
            if chcnt < len(word):
                chcon = ch + word[chcnt]
                pArray.append(chcon)
                
                if chcon in fDict:
                    fDict[chcon] = fDict[chcon] + 1
                else:
                    fDict[chcon] = 1
                chcnt +=1
        
        oArray.append(pArray)
        
    
    
    oArray.append(fDict)
    
    return oArray


oArray = featureExtractor(['Vladislav', 'Julia', 'Angelina'])
print(oArray)

[[9, 'V', 'l', 'a', 'd', 'i', 's', 'l', 'a', 'v', 'Vl', 'la', 'ad', 'di', 'is', 'sl', 'la', 'av'], [5, 'J', 'u', 'l', 'i', 'a', 'Ju', 'ul', 'li', 'ia'], [8, 'A', 'n', 'g', 'e', 'l', 'i', 'n', 'a', 'An', 'ng', 'ge', 'el', 'li', 'in', 'na'], {'Vl': 1, 'la': 2, 'ad': 1, 'di': 1, 'is': 1, 'sl': 1, 'av': 1, 'Ju': 1, 'ul': 1, 'li': 2, 'ia': 1, 'An': 1, 'ng': 1, 'ge': 1, 'el': 1, 'in': 1, 'na': 1}]

In [12]:
nameList = dt[(dt.host_name_multstr == 1) & (dt.host_name_len < 10) & (dt.host_gender != 'GR')].host_name.to_list()

In [13]:
bigArray = featureExtractor(nameList)
bigDict = bigArray[-1]
type(bigDict)

dict

In [14]:
len(bigDict)

1286

In [15]:
catlist=bigDict.keys()
#for cat in catlist:
 #   dt[cat] = 0




exceptionList = []
    
for cat in catlist:
    catEnc = str(cat.encode('utf-8'))
    
    if catEnc.find("\\") >= 0:
        exceptionList.append(cat)

print(exceptionList)
len(exceptionList)/len(bigDict)
dt.memory_usage()

['lú', 'né', 'ée', 'ní', 'ín', 'mé', 'ré', 'Vé', 'ér', 'oû', 'ût', 'oã', 'ão', 'gé', 'él', 'aï', 'ïs', 'cá', 'án', 'aë', 'ël', 'té', 'ép', 'rí', 'ía', 'Pé', 'én', 'rý', 'ýa', '正川', 'eá', 'Cé', 'éc', 'oë', 'ëm', '文立', 'oé', 'éa', 'Pü', 'ür', 'lá', 'zé', '卷妮', '常春', 'há', '단비', 'rè', 'èn', 'Dé', 'és', 'tí', '孙浩', 'Bá', 'ár', 'lö', 'öt', 'Uğ', 'ğu', 'iá', 'ég', 'lí', 'ís', 'Ré', 'ém', 'hé', 'Mó', 'ón', 'lé', 'Él', 'mí', 'íl', 'Mé', 'hè', 'èl', 'dé', 'Ā.', 'lè', 'ië', 'sé', 'vá', 'Jū', 'ūr', 'lç', 'çu', 'Jé', 'rô', 'ôm', 'bé', 'éz', '柏润', '祥茵', 'Pá', 'ái', 'Bé', 'Dá', '馨惠', 'tó', 'ób', '诗月', 'ié', 'Ké', 'Sé', 'éh', 'áv', 'má', 'ás', 'Gú', 'ún', 'Ал', 'ле', 'ек', 'кс', 'се', 'ей', 'דנ', 'ני', 'יא', 'אל', 'éb', '哲緯', 'íg', '槟利', '현선', 'Nï', 'ïc', '青明', '소정', 'Тe', 'Fé', 'év', 'jé', 'Öy', 'kü', 'nç', 'ço', '美德', 'Gò', 'òn', 'Ан', 'ни', 'ит', 'та', 'Nô', 'İl', 'rú', 'cí', 'Jú', '明凤', 'gü', 'üm', 'Ви', 'ил', 'ль', '呈刚', '冉阳', '韦达', 'Ša', '辣辣', 'éo', 'aú', 'Lí', 'ív', '빈나', 'Ví', 'íc', '彼特', 'ór', 'Lù', 'ùi', '思铨', 'Зі', 'ін', 'на', 'íe', 'Hé', 'Té', 'sú', 'ús', '泽宇', 'Юл', 'ли', 'ия', 'Се', 'ер', 'рг', 'ге', '文清', '文静', 'нд', 'др', 'ре', 'Ок', 'са', 'ан', 'Tá', 'oē', '奕竹']

Index                                 80
id                                391160
name                              391160
host_id                           391160
host_name                         391160
neighbourhood_group               391160
neighbourhood                     391160
latitude                          391160
longitude                         391160
room_type                         391160
price                             391160
minimum_nights                    391160
number_of_reviews                 391160
last_review                       391160
reviews_per_month                 391160
calculated_host_listings_count    391160
availability_365                  391160
conAnd                             48895
host_gender                       391160
host_lastL                        391160
host_name_len                     391160
host_name_bin                      48959
host_name_multstr                 391160
dtype: int64

In [16]:
dt.memory_usage(deep=True).sum()/1000000

31.477492

In [17]:
import sys
sys.getsizeof(dt)/1000000
dt.shape

(48895, 22)